.big-container {
    display: flex;
    justify-content: center;
}
.container {
    background-color: darkslategrey;
    width: 720px;
    padding: 0.25%;
}
.heading {
    text-align: center;
    color: aliceblue;
    font-size: 1.3em;
}
.box {
    justify-content: space-evenly;
    display: flex;
    margin: 1%;
}
.top {
    background-color: blanchedalmond;
}
.middle {
    background-color: lightslategray;
}
.bottom {
    background-color: lavender;
}
img {
    height: 200px;
    margin: 2%;
}
